.Ebody{
    /* background-color: #fff8d8; */
    background-color: #ffffff;
    
}
.headbg{
    background-color: #8df3a7;
}
.contbg{
    background-color: #fff8d8;
    /* background-image: url("./image/whiteO80.png"); */
    
}
.bgWC20{
    background-image: url("./image/whiteO20.png");
    
}
.text-shadow{
    text-shadow: 2px 2px #000000;
}
